*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(75, 75, 75);
    text-align: center;
    color: white;
    background-attachment: fixed;
}
#grande{
    font-size: 10em;
}
.emo{
    font-size: 5em;
    padding: 10px;
}
.emo:hover{
    background-color: brown;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 5.5em;
}
#noP,p{
    font-size: 1.5em;
}